body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 416px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

.header {
  font-family: 'Source Code Pro', monospace;
  color: white;
  letter-spacing: -1px;
  font-size: 49px;
  letter-spacing: -2.4px;
  width: 500px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 650px) {
  .header {
    font-size: 39px;
    text-align: center;
  }
}

@media screen and (max-width: 416px) {
  .header {
    font-size: 32px;
    margin-left: -20px;
  }
}

.slash-one {
  color: #55FFB1;
}

.slash-two {
  color: #6638F0;
  margin-left: -8px;
}

.slash {
  font-size: 27px;
}

.main-cta {
  background-color: #55FFB1;
  height: 48px;
  width: 227px;
  border: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase-box;
  color: #225F80;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.header-section {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#453F8E), to(#3A2047)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #453F8E 0%, #3A2047 100%) 0% 0% no-repeat padding-box;
  height: 699px;
  border: none;
  position: relative;
  width: -webkit-fill-available;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .header-section {
    height: 1000px;
  }
}

@media screen and (min-width: 1425px) {
  .header-section {
    position: unset;
    height: 687px;
  }
}

@media screen and (min-width: 1000px) {
  .header-section {
    overflow-x: unset;
  }
}

@media screen and (max-width: 416px) {
  .wrapper {
    width: 100%;
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 32px;
}

@media screen and (max-width: 416px) {
  .main-menu {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.comma {
  color: #55FFB1;
  margin: -15px;
}

@media screen and (max-width: 416px) {
  .comma {
    margin: -10px;
  }
}

.hero-copy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  left: 10vw;
  width: 500px;
}

@media screen and (max-width: 1000px) {
  .hero-copy-container {
    position: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1425px) {
  .hero-copy-container {
    position: relative;
  }
}

.hero-copy {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 320px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0px;
  line-height: 1.5em;
}

@media screen and (max-width: 1000px) {
  .hero-copy {
    text-align: center;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
}

.line-two {
  margin-left: 46px;
}

.first-parenthesis, .second-parenthesis {
  position: absolute;
  color: #BE55FF;
  font-size: 114px;
  opacity: 0.27;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .first-parenthesis, .second-parenthesis {
    font-size: 90px;
  }
}

.first-parenthesis {
  top: -43px;
  left: -27px;
}

@media screen and (max-width: 650px) {
  .first-parenthesis {
    top: -37px;
    left: 45px;
  }
}

@media screen and (max-width: 416px) {
  .first-parenthesis {
    top: -37px;
    left: 87px;
  }
}

.second-parenthesis {
  top: 15px;
  right: -3px;
}

@media screen and (max-width: 650px) {
  .second-parenthesis {
    top: 10px;
    right: 42px;
  }
}

@media screen and (max-width: 416px) {
  .second-parenthesis {
    top: 0px;
    right: 70px;
  }
}

.social-icons {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 555px;
  max-width: 1280px;
}

@media screen and (min-width: 1425px) {
  .hero-section {
    max-width: unset;
  }
}

.profile-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: 10vw;
  bottom: 0vw;
}

@media screen and (max-width: 900px) {
  .profile-img-container {
    right: unset;
  }
}

@media screen and (max-width: 1000px) {
  .profile-img-container {
    right: unset;
  }
}

@media screen and (min-width: 1425px) {
  .profile-img-container {
    position: relative;
    margin-left: 300px;
  }
}

.social {
  height: 30px;
  width: auto;
  position: relative;
  z-index: 10;
}

.profile-img {
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1000px) {
  .profile {
    height: 406px;
  }
}

.second-img {
  position: absolute;
  right: -27px;
  z-index: 3;
  opacity: .4;
  mix-blend-mode: luminosity;
}

.third-img {
  position: absolute;
  right: -53px;
  z-index: 0;
  opacity: 1;
  color: white;
  mix-blend-mode: screen;
}

.bkg-circle {
  background-color: white;
  width: 724px;
  height: 724px;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .bkg-circle {
    width: 400px;
    height: 400px;
    top: unset;
  }
}

.circle-one {
  top: 0px;
  border-radius: 100%;
  opacity: .02;
}

@media screen and (max-width: 1000px) {
  .circle-one {
    left: 20vw;
    top: unset;
    bottom: 0vw;
  }
}

@media screen and (max-width: 900px) {
  .circle-one {
    left: 5vw;
    top: unset;
    bottom: 0vw;
  }
}

@media screen and (max-width: 650px) {
  .circle-one {
    left: 1vw;
    top: unset;
    bottom: 0vw;
  }
}

@media screen and (max-width: 416px) {
  .circle-one {
    left: 40vw;
    bottom: 0vw;
    top: unset;
  }
}

.circle-two {
  top: 0;
  border-radius: 100%;
  opacity: .16;
  right: 0px;
}

@media screen and (max-width: 1000px) {
  .circle-two {
    right: 20vw;
    top: unset;
    bottom: 0vw;
  }
}

@media screen and (max-width: 900px) {
  .circle-two {
    right: 5vw;
    bottom: 0vw;
    top: unset;
  }
}

@media screen and (max-width: 650px) {
  .circle-two {
    right: 1vw;
    top: unset;
    bottom: 0vw;
  }
}

@media screen and (max-width: 416px) {
  .circle-two {
    right: 50vw;
    bottom: 0vw;
    top: unset;
  }
}

h2 {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
}

.bio-header {
  width: 771px;
}

@media screen and (max-width: 1000px) {
  .bio-header {
    width: unset;
  }
}

.bio-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-bottom: 75px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .bio-section-container {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

.bio-header {
  font-size: 35px;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 21px;
  position: relative;
  z-index: 5;
}

.bio-description {
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.bio-circle {
  border: black 2px solid;
  height: 31px;
  position: absolute;
  width: 231px;
  border-radius: 100%;
  opacity: .4;
  z-index: -1;
}

.bio-cir-one {
  right: -5px;
  height: 77px;
  top: -17px;
  border-color: #55FFB1;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

@media screen and (max-width: 1000px) {
  .bio-cir-one {
    right: 18px;
  }
}

@media screen and (max-width: 416px) {
  .bio-cir-one {
    right: 5px;
  }
}

@media screen and (min-width: 416px) {
  .bio-cir-one {
    right: 26px;
    top: 26px;
  }
}

@media screen and (min-width: 525px) {
  .bio-cir-one {
    right: 135px;
  }
}

@media screen and (min-width: 600px) {
  .bio-cir-one {
    right: 160px;
  }
}

@media screen and (min-width: 750px) {
  .bio-cir-one {
    left: 45px;
    right: unset;
    top: -15px;
  }
}

@media screen and (max-width: 375px) {
  .bio-cir-one {
    right: 5px;
  }
}

.bio-cir-two {
  top: -11px;
  right: 8px;
  height: 60px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  border-color: #BE55FF;
}

@media screen and (max-width: 1000px) {
  .bio-cir-two {
    right: 27px;
  }
}

@media screen and (max-width: 900px) {
  .bio-cir-two {
    right: 0px;
  }
}

@media screen and (max-width: 416px) {
  .bio-cir-two {
    right: 5px;
  }
}

@media screen and (min-width: 416px) {
  .bio-cir-two {
    right: 26px;
    top: 35px;
  }
}

@media screen and (min-width: 525px) {
  .bio-cir-two {
    right: 130px;
  }
}

@media screen and (min-width: 600px) {
  .bio-cir-two {
    right: 155px;
  }
}

@media screen and (min-width: 750px) {
  .bio-cir-two {
    left: 45px;
    right: unset;
    top: -7px;
  }
}

@media screen and (max-width: 375px) {
  .bio-cir-two {
    right: 7px;
  }
}

.by-experience, .at-heart {
  color: #403271;
}

.by-experience {
  position: relative;
}

.developer {
  color: #6638F0;
}

.experience-container, .skills-container {
  margin-right: 10vw;
  margin-left: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 0px;
}

@media screen and (max-width: 416px) {
  .experience-container {
    margin-top: -25px;
  }
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 50px;
}

.work-button-container {
  margin-top: 15px;
}

@media screen and (max-width: 416px) {
  .work-button-container {
    margin-left: 2.5vw;
  }
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 446px;
}

@media screen and (max-width: 1000px) {
  .project-container {
    margin-right: unset;
    width: unset;
    margin-bottom: 50px;
    max-width: 400px;
  }
}

.project-title {
  font-family: 'Source Code Pro', monospace;
  color: #6638F0;
  letter-spacing: -1px;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 0px;
  word-spacing: -4px;
}

@media screen and (max-width: 416px) {
  .project-title {
    margin-left: 2.5vw;
  }
}

.technologies-header {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
  font-size: 1.2em;
  margin-bottom: 0px;
  margin-top: 0px;
  word-spacing: -4px;
}

@media screen and (max-width: 416px) {
  .technologies-header {
    margin-left: 2.5vw;
  }
}

.technologies-copy {
  margin-bottom: 40px;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1000px) {
  .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
  }
}

.experience-header, .skills-header, .work-header {
  margin-left: 2.5vw;
  margin-bottom: 20px;
}

.skill {
  min-height: 249px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 330px;
}

.skill-logo {
  max-height: 50px;
  min-width: auto;
}

.fa-react {
  font-size: 50px;
  color: #60DAFB;
}

.skill-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  -webkit-margin-before: auto;
          margin-block-start: auto;
}

.skill-title {
  font-size: 24px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.skill-description {
  margin-top: 25px;
  margin-bottom: 25px;
  justify-self: flex-start;
}

.skill-title-one {
  color: #6638F0;
}

.skill-title-two {
  color: #FF6C10;
}

.skill-title-three {
  color: #3DB4F4;
}

.exp-cir-one {
  border-radius: 100%;
  border: #6638F0 1px solid;
  position: absolute;
  opacity: .25;
  left: 1px;
  top: -49px;
  height: 300px;
  width: 300px;
  z-index: 1;
}

@media screen and (max-width: 416px) {
  .exp-cir-one {
    display: none;
  }
}

.exp-cir-two {
  border-radius: 100%;
  border: #6638F0 1px solid;
  position: absolute;
  opacity: .25;
  top: -42px;
  left: 251px;
  height: 150px;
  width: 150px;
  z-index: 0;
}

@media screen and (max-width: 416px) {
  .exp-cir-two {
    display: none;
  }
}

.job-container, .skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  overflow-x: revert;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90vw;
}

@media screen and (max-width: 1000px) {
  .job-container, .skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skill-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.skill-cir-one {
  border-radius: 100%;
  border: 1px #6638F0 solid;
  height: 150px;
  width: 150px;
  opacity: .25;
  position: absolute;
  right: 410px;
}

.skill-cir-two {
  border-radius: 100%;
  border: 1px #6638F0 solid;
  height: 250px;
  width: 250px;
  opacity: .25;
  position: absolute;
  right: 210px;
  top: -30px;
}

.project-image {
  width: 446px;
  height: auto;
  max-height: 221px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .project-image {
    width: 400px;
    height: 198px;
    overflow: hidden;
  }
}

@media screen and (max-width: 416px) {
  .project-image {
    width: 325px;
    height: 161.405px;
    overflow: hidden;
  }
}

.to-do {
  border: #403271 2px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-box {
  width: 258px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 5;
  position: relative;
  background-color: white;
  min-width: 300px;
  min-height: 298px;
}

@media screen and (max-width: 416px) {
  .info-box {
    min-width: unset;
    width: 248px;
  }
}

.info-box-one {
  border: #6638F0 1px solid;
  -webkit-box-shadow: 5px 7px #6638F0;
          box-shadow: 5px 7px #6638F0;
}

.info-box-two {
  border: #FF6C10 1px solid;
  -webkit-box-shadow: 5px 7px #FF6C10;
          box-shadow: 5px 7px #FF6C10;
  margin-right: 25px;
  margin-left: 25px;
}

@media screen and (max-width: 1000px) {
  .info-box-two {
    margin-right: unset;
    margin-left: unset;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.info-box-three {
  border: #3DB4F4 1px solid;
  -webkit-box-shadow: 5px 7px #3DB4F4;
          box-shadow: 5px 7px #3DB4F4;
}

.company-name {
  font-size: 16px;
  margin-bottom: 0px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
}

.title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: -1px;
}

.year {
  font-size: 16px;
  margin-top: 0px;
  font-family: 'Source Code Pro', monospace;
  color: #797979;
}

.accomplishments {
  font-size: 21px;
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: 'Source Code Pro', monospace;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
}

.skill-description, .project-description, .technologies-copy {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

@media screen and (max-width: 1000px) {
  .project-description {
    max-width: 400px;
  }
}

@media screen and (max-width: 416px) {
  .project-description {
    margin-left: 2.5vw;
  }
}

.title-one {
  color: #6638F0;
}

.title-two {
  color: #FF6C10;
}

.title-three {
  color: #3DB4F4;
}

.overlay {
  height: 221px;
  width: 446px;
  background-color: #403271;
  position: absolute;
  mix-blend-mode: color;
}

@media screen and (max-width: 1000px) {
  .overlay {
    width: 400px;
    height: 198px;
  }
}

@media screen and (max-width: 416px) {
  .overlay {
    width: 325px;
    height: 161.405px;
  }
}

.github-button {
  background-color: #3DB4F4;
  color: #225F80;
  border: none;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 15px;
  text-decoration: none;
}

.live-button {
  border: none;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #6638F0;
  color: #55FFB1;
  text-decoration: none;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 75px;
  max-width: 1000px;
}

@media screen and (min-width: 900px) {
  .contact-container {
    margin-top: 50px;
  }
}

.contact-copy {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

@media screen and (max-width: 416px) {
  .contact-copy {
    margin-left: unset;
    margin-right: unset;
  }
}

.contact-header {
  margin-bottom: 0px;
  font-size: 35px;
  letter-spacing: -1px;
  margin-top: 0px;
}

footer {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 75px;
  font-weight: 700;
}

.project-one {
  margin-right: 25px;
}

@media screen and (max-width: 1000px) {
  .project-one {
    margin-right: unset;
  }
}

.goat-logo {
  height: 50px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */